body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Pixelify Sans', sans-serif;
}

.background {
    position: relative;
    background-image: url('../images/black_back.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: red;
}

h1 {
    font-size: 4rem;
    margin: 0;
    font-family: 'Pixelify Sans', cursive;
}

#timer {
    font-size: 3rem;
    margin-top: 20px;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    60% {
        opacity: 0;
    }
}

.button-download {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: #800080;
    /* Фиолетовый цвет */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
    animation: bgColorChange 5s infinite;
    /* Анимация переливания цвета */
}

.button-download:hover {
    background-color: #4b004b;
    /* Темно-фиолетовый цвет при наведении */
}

@keyframes bgColorChange {
    0% {
        background-color: #ff0000;
    }

    25% {
        background-color: #00ff00;
    }

    50% {
        background-color: #0000ff;
    }

    75% {
        background-color: #ff00ff;
    }

    100% {
        background-color: #ff0000;
    }
}