body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.contacts-background {
    position: relative;
    background-image: url('../images/black_back.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    overflow-y: auto;
}

.contacts-background h1 {
    font-family: 'Pixelify Sans', cursive;
    font-size: 3rem;
    margin-top: 20px;
    animation: colorChange 5s infinite;
}

.team-row {
    display: flex;
    justify-content: center; /* Центрирование элементов в строке */
    flex-wrap: wrap; /* Перенос элементов на новую строку, если не хватает места */
    margin: 20px 0; /* Отступы между рядами */
}

.team-photo-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Выравнивание по центру */
    width: 45%; /* Ширина каждого блока, чтобы уместить два в ряд */
    gap: 20px;
    margin: 20px; /* Отступы между блоками */
    padding: 0 20px; 
}

.team-photo-container .photo-text {
    flex-grow: 1; /* Занимает все доступное пространство */
    font-family: 'Pixelify Sans', cursive; /* Шрифт Pixelify Sans */
    text-align: left;
    font-size: 1.5rem; 
}

.team-photo-container img {
    width: 250px;
    height: 250px;
    border: 5px solid;
    border-radius: 50%;
    animation: borderColorChange 5s infinite;
}

.team-photo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
    margin-top: 20px; /* Расстояние от верхнего блока */
    padding: 0 20px; /* Отступы от краев */
}

.team-photo img {
    width: 250px;
    height: 250px;
    border: 5px solid;
    border-radius: 50%;
    animation: borderColorChange 5s infinite;
}

.icon-links {
    margin-top: 10px;
}

/* Анимация переливания границы */
@keyframes borderColorChange {
    0% {
        border-color: red;
    }
    25% {
        border-color: yellow;
    }
    50% {
        border-color: green;
    }
    75% {
        border-color: blue;
    }
    100% {
        border-color: red;
    }
}
