body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.contacts-background {
    position: relative;
    background-image: url('../images/black_back.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    overflow-y: auto;
}

.contacts-background h1 {
    font-family: 'Pixelify Sans', cursive;
    font-size: 3rem;
    margin-top: 20px;
    animation: colorChange 5s infinite;
}

.team-photo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 100px; /* Расстояние от верха страницы */
    left: 20px; /* Расстояние от левого края */
    gap: 40px;
}

.team-photo img {
    width: 250px;
    height: 250px;
    border: 5px solid;
    border-radius: 50%;
    animation: borderColorChange 5s infinite;
}

/* Анимация переливания границы */
@keyframes borderColorChange {
    0% {
        border-color: red;
    }
    25% {
        border-color: yellow;
    }
    50% {
        border-color: green;
    }
    75% {
        border-color: blue;
    }
    100% {
        border-color: red;
    }
}
